body{
  display: flex;
}

#menuItems{
  background-color: black;
  text-align: center;
  width: 10%;
  font-family: Arial, Helvetica, sans-serif;
}


main{
  width: 90%;
}

header{
  background-color: red;
  font-size: 36px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

button{
  background-color: blue;
  width: 100%;
  font-size: x-large;
  color: white;

  padding: 10px;
}

button:hover{
  background-color: darkgoldenrod;
}

#recentArticles:hover + #jumpMenu{
  display: block;
}


#jumpMenu{
  background-color: goldenrod;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#jumpMenu:hover{
  display: block;
  width: 100%;
}

li:hover{
  background-color: blue;
}

li:hover a {
  color: black;
}

h1{
  text-align: center;
  font-size: 36px;
}

#container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

article{
  color:lightgray;
  padding: 10px;
  width: 20%;
  height:25%;
  font-size: 15px;
  transition: color 2s, width 2s, font-size 2s;
}

article  p::first-letter{
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
}

article p{
  font-family: Arial, Helvetica, sans-serif;
}

article:hover{
  color: black;
  font-size: 20px;
  width: 30%;
  height: 35%;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
}


article p a::after{
  content:url(csspic/arrow.png);
}

#thanks{
  background-color: lightblue;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  font-size: x-large;
  border: 1px solid black;
}


footer{
  background-color: black;
  text-align: center;
  color: white;
}