h1{
  font-size: 4em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}



#paragraph2{
  background-color: white;
  border: 5px green;
  border-style: solid;
  line-height: 2em;
  width: 60%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
}
body{
  background-color: lightblue;
}

.blue{
  padding: 1.15em;
  background-color:darkblue;
  color: white;
}

table{
  border: 2px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
}

th{
  background-color: darkgray;
  border: 2px;
  border-color: black;
  border-style: solid;
}

td{
  border: 2px;
  border-color: black;
  border-style: solid;
  padding: 1em;
  
  
}

ol{
  list-style: decimal-leading-zero;
}
ol a{
  color: blue;
}

a{color: red;}